.removed-page {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    max-width: 100%;
}

.message {
    margin: .5rem;
    margin-top: 4rem;
    padding: 10px;
    flex-grow: 1;
    text-align: center;
}

.message p {
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 3px;
    font-size: 40px;
    color: #e3d9d9;
    line-height: 1.6;

}

.footer {
    position: relative;
    width: 100%;
    height: 20vh;
    z-index: 1;
}

.footer svg {
    width: 100%;
    height: 30vh;
}

.footer .btn-container {
    position: absolute;
    bottom: 6rem;
    right: 3rem;
    display: flex;
    justify-content: end;
    align-items: center;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
}

.btn-container:hover {
    background-color: #0ea73c;
    color: #0b481d;
    transform: scale(1.05);
}