.message-item {
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 10px;
    background-color: azure;
    color: rgb(15, 15, 15);
    position: relative;
}

.message-header {
    padding: 5px;
    font-size: 16px;
    color: rgb(146, 148, 150);
}

.message-body {
    padding: 5px;
    margin: 1rem;
    font-size: 28px;
    color: rgb(10, 10, 10);
    font-weight: 500;
    overflow-wrap: break-word;
}

.message-footer {
    padding: 5px;
    font-size: 24px;
    color: rgb(42, 44, 44);
}

.message-actions {
    padding: 5px;
    display: flex;
    justify-content: space-between;
}

.action-left {
    display: flex;
    flex: 1;
    justify-content: start;
}

.action-right {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.action-right button {
    color: rgb(174, 47, 47);
}