.write-page {
    margin: 1rem;
    padding: 10px;
}

form {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

textarea {
    width: 90%;
    min-height: 300px;
    padding: 20px;
    font-size: 24px;
    resize: vertical;
    overflow-y: auto;
}

input {
    width: 100%;
    padding: 10px;
    font-size: 20px;
}

button {
    font-size: 26px;
    margin-top: 3rem;
    padding: 12px;
}